{% extends "client/layout_client.html" %}

{% block title %}
    <title>Mes commandes</title>
{% endblock %}

{% block body %}
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <h1>Mes commandes</h1>
                {% if commandes | length > 0 %}
                    <table class="table table-striped">
                        <thead>
                            <tr>
                                <th>Date de commande</th>
                                <th>Nombre d'articles</th>
                                <th>Coût total</th>
                                <th>État de la commande</th>
                                <th>Options</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for commande in commandes %}
                                <tr>
                                    <td>{{ commande.date_achat }}</td>
                                    <td>{{ commande.nb_articles }}</td>
                                    <td>{{ commande.prix_total }} €</td>
                                    <td>{{ commande.etat }}</td>
                                    <td>
                                        <a href="/client/commande/show?id_commande={{ commande.id_commande }}" class="btn btn-primary">Détails</a>
                                    </td>
                                </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                {% else %}
                    <div class="alert alert-info">
                        Vous n'avez pas encore passé de commande.
                    </div>
                {% endif %}
            </div>
        </div>

        {% if articles_commande %}
            <div class="row mt-4">
                <div class="col-md-12">
                    <h2>Détails de la commande</h2>
                    <table class="table table-striped">
                        <thead>
                            <tr>
                                <th>Article</th>
                                <th>Quantité</th>
                                <th>Prix unitaire</th>
                                <th>Prix total</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for article in articles_commande %}
                                <tr>
                                    <td>{{ article.nom }}</td>
                                    <td>{{ article.quantite }}</td>
                                    <td>{{ article.prix }} €</td>
                                    <td>{{ article.prix_ligne }} €</td>
                                </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        {% endif %}
    </div>
{% endblock %}
