{#
article (dictionnaire)
id_article, nom, type_article_id, prix, image
    * option :
        * stock ,
        * nb_avis ,
        * nb_declinaisons

types_article : tableau de dictionnaires
* tableau de "type_article"
    * id_type_article, libelle
#}

{% extends 'admin/layout_admin.html' %}
{% block title %}
    <title>Modifier un article</title>
{% endblock %}

{% block body %}
<div class="container">
    <div class="row">
        <div class="col-md-12 col-sm-12 col-xs-12">
            <div class="x_panel">
                <div class="x_title">
                    <h2>Modifier un article</h2>
                    <div class="clearfix"></div>
                </div>
                <div class="x_content">
                    <form class="form-horizontal form-label-left" method="post" action="/admin/article/edit" enctype="multipart/form-data">
                        <input type="hidden" name="id_article" value="{{ article.id_article }}">
                        
                        <div class="form-group">
                            <label class="control-label col-md-3 col-sm-3 col-xs-12" for="nom">Nom <span class="required">*</span>
                            </label>
                            <div class="col-md-6 col-sm-6 col-xs-12">
                                <input type="text" id="nom" name="nom" required="required" class="form-control col-md-7 col-xs-12" value="{{ article.nom }}">
                            </div>
                        </div>
                        
                        <div class="form-group">
                            <label class="control-label col-md-3 col-sm-3 col-xs-12" for="type_vetement_id">Type <span class="required">*</span>
                            </label>
                            <div class="col-md-6 col-sm-6 col-xs-12">
                                <select id="type_vetement_id" name="type_vetement_id" required="required" class="form-control col-md-7 col-xs-12">
                                    {% for type in types_vetement %}
                                        <option value="{{ type.id_type_vetement }}" {% if type.id_type_vetement == article.type_vetement_id %}selected{% endif %}>{{ type.libelle_type_vetement }}</option>
                                    {% endfor %}
                                </select>
                            </div>
                        </div>
                        
                        <div class="form-group">
                            <label class="control-label col-md-3 col-sm-3 col-xs-12" for="taille_id">Taille <span class="required">*</span>
                            </label>
                            <div class="col-md-6 col-sm-6 col-xs-12">
                                <select id="taille_id" name="taille_id" required="required" class="form-control col-md-7 col-xs-12">
                                    {% for taille in tailles %}
                                        <option value="{{ taille.id_taille }}" {% if taille.id_taille == article.taille_id %}selected{% endif %}>{{ taille.libelle_taille }}</option>
                                    {% endfor %}
                                </select>
                            </div>
                        </div>
                        
                        <div class="form-group">
                            <label class="control-label col-md-3 col-sm-3 col-xs-12" for="prix">Prix <span class="required">*</span>
                            </label>
                            <div class="col-md-6 col-sm-6 col-xs-12">
                                <input type="text" id="prix" name="prix" required="required" class="form-control col-md-7 col-xs-12" value="{{ article.prix }}">
                            </div>
                        </div>
                        
                        <div class="form-group">
                            <label class="control-label col-md-3 col-sm-3 col-xs-12" for="stock">Stock <span class="required">*</span>
                            </label>
                            <div class="col-md-6 col-sm-6 col-xs-12">
                                <input type="number" id="stock" name="stock" required="required" class="form-control col-md-7 col-xs-12" value="{{ article.stock }}">
                            </div>
                        </div>
                        
                        <div class="form-group">
                            <label class="control-label col-md-3 col-sm-3 col-xs-12" for="description">Description
                            </label>
                            <div class="col-md-6 col-sm-6 col-xs-12">
                                <textarea id="description" name="description" class="form-control col-md-7 col-xs-12">{{ article.description }}</textarea>
                            </div>
                        </div>
                        
                        <div class="form-group">
                            <label class="control-label col-md-3 col-sm-3 col-xs-12" for="matiere">Matière
                            </label>
                            <div class="col-md-6 col-sm-6 col-xs-12">
                                <input type="text" id="matiere" name="matiere" class="form-control col-md-7 col-xs-12" value="{{ article.matiere }}">
                            </div>
                        </div>
                        
                        <div class="form-group">
                            <label class="control-label col-md-3 col-sm-3 col-xs-12" for="fournisseur">Fournisseur
                            </label>
                            <div class="col-md-6 col-sm-6 col-xs-12">
                                <input type="text" id="fournisseur" name="fournisseur" class="form-control col-md-7 col-xs-12" value="{{ article.fournisseur }}">
                            </div>
                        </div>
                        
                        <div class="form-group">
                            <label class="control-label col-md-3 col-sm-3 col-xs-12" for="marque">Marque
                            </label>
                            <div class="col-md-6 col-sm-6 col-xs-12">
                                <input type="text" id="marque" name="marque" class="form-control col-md-7 col-xs-12" value="{{ article.marque }}">
                            </div>
                        </div>
                        
                        <div class="form-group">
                            <label class="control-label col-md-3 col-sm-3 col-xs-12" for="image">Image
                            </label>
                            <div class="col-md-6 col-sm-6 col-xs-12">
                                {% if article.image %}
                                    <img src="/static/images/{{ article.image }}" alt="{{ article.nom }}" style="max-width: 200px; margin-bottom: 10px;">
                                {% endif %}
                                <input type="file" id="image" name="image" class="form-control col-md-7 col-xs-12">
                            </div>
                        </div>
                        
                        <div class="ln_solid"></div>
                        <div class="form-group">
                            <div class="col-md-6 col-sm-6 col-xs-12 col-md-offset-3">
                                <button type="submit" class="btn btn-success">Enregistrer</button>
                                <a href="/admin/article/show" class="btn btn-primary">Annuler</a>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
